@import "src/style/index";

.navbar{
  float: left;
  background:#fff;
  text-align: center;
  width:100vw;
  border-bottom: 1px solid rgba(#888,0.1);
  & >a{
    display: inline-block;
    padding:r(10) r(15);
    font-size: r(14);
    color:#666;
    &.active{
      background: rgba(#111,0.2);
    }
  }
}
